# Auth files
config/oauth-list.yaml

# Datasets
datasets/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*~
*.webassets-cache
packed.js
packed.css

# C extensions
*.so

# npm stuff
node_modules/

# Trash
_trash/

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
*/lib/
!static/lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/
