<html>
  <head>
    <title>Form Builder</title>
    {{ script_tags|safe }}
    {{ style_tags|safe }}
    <style>
      body {
        max-width: 51em;
        margin: 0px auto 2em auto;
        padding: 0px .5em;
      }

      h1 {
        size: 200%;
      }
    </style>
  </head>
  <body>
    <div id="wikilabels-home" style="position: relative;">
      <div class="wikilabels-lead">
        Lead content
      </div>
      <div class="wikilabels-campaigns"
           style=" ">
        <div style="font-size: 200%; padding-top: 2em;">
          <span>OMG button</span>
        </div>
      </div>
      <div class="wikilabels-workspace" style="clear:both;">
      </div>
    </div>
    <script>
      wikiLabels.config.update( {
        serverRoot: "//localhost:8080/labels"
      } );
      home = new wikiLabels.Home($('#wikilabels-home'));
    </script>
  </body>
</html>
