<html lang="en" dir="ltr" class="client-js ve-not-available">
  <head>
    <title>Labels home gadget</title>
    <link rel="stylesheet" type="text/css" href="/oojs-ui-static/oojs-ui-mediawiki.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/home.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/common.css" />
    <link rel="stylesheet" type="text/css" href="https://en.wikipedia.org/w/load.php?debug=false&lang=en&modules=mediawiki.legacy.commonPrint%2Cshared%7Cmediawiki.skinning.interface%7Cskins.vector.styles&only=styles&skin=vector" />
    <style>
      body {
        background: #fff;
        margin: 0px 2em;
      }
    </style>
    <meta name="description" content="Wikilabels is a human computation service for Wikipedia"/>
  </head>
  <body class="mediawiki ltr sitedir-ltr ns-4 ns-subject page-Wikipedia_Labels
               skin-vector action-view webfonts-changed">
    <style type="text/css">
    html {
      background: #eaecf0;
    }
    body {
      max-width: 50em;
      margin: 0px auto;
      padding: 1em 2em;
      background: #fff;
    }
    </style>
    {% if maintenance_notice is not none %}
      <div class="maintenance_notice">
        {{maintenance_notice|safe}}
      </div>
    {% else %}
    {%endif %}
    <div id="bodyContent" class="mw-body-content">
      <div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr">
        <div id="wikilabels-home">
          <div class="lead">
            <p>
                <strong class="selflink">Wiki-Labels</strong> is a
                <a href="https://en.wikipedia.org/wiki/Human_computation"
                   title="Human computation"
                   class="mw-redirect">human computation</a>
                service for Wikipedia. In order perform difficult analyses and
                train intelligent wiki-tools (e.g. for
                <a href="https://meta.wikimedia.org/wiki/Objective_Revision_Evaluation_Service#Edit_quality_models">detecting vandalism</a> and
                <a href="https://meta.wikimedia.org/wiki/Objective_Revision_Evaluation_Service#Article_quality_models">
                  assessing the quality of articles
                </a>), we need
                <a href="https://en.wikipedia.org/wiki/Coding_(social_sciences)"
                   title="Coding (social sciences)">labeled data</a>
                and lots of it. Wiki-Labels is a tool that makes it easy to
                collaboratively label wiki artifacts (like revisions) quickly
                and easily.
            </p>
              You can start labeling edits in <a href="/ui/">here</a>.
              <p>
              <p>
              Other top-level paths: <a href="/auth/">auth</a>, <a href="/campaigns/">campaigns</a>, <a href="/users/">users</a>, <a href="/forms/">forms</a> and <a href="/form_builder/">form_builder</a>
          </p>
            <ul>
              <li>
                <a href="https://en.wikipedia.org/wiki/Wikipedia:Labels/About"
                   title="Wikipedia:Labels/About">
                  Documentation
                </a>
              </li>
              <li>
                <a rel="nofollow" class="external text"
                   href="https://github.com/wiki-ai/wikilabels">
                  github repo
                </a>
              </li>
              <li>
                <a href="/versions/">Versions</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
