<html lang="en" dir="ltr" class="client-js ve-not-available">
<head>
	<title>Wikilabels home gadget</title>
	<link rel="stylesheet" type="text/css" href="/oojs-ui-static/oojs-ui-mediawiki.css" />
	<link rel="stylesheet" type="text/css" href="https://en.wikipedia.org/w/load.php?debug=false&amp;lang=en&amp;modules=mediawiki.legacy.commonPrint%2Cshared%7Cmediawiki.skinning.interface%7Cskins.vector.styles&amp;only=styles&amp;skin=vector" />
	<link rel="stylesheet" href="/static/lib/wmui-style-guide.min.css">
	<link rel="stylesheet" href="/static/css/wikilabels-site-specific.css">
	<link rel="stylesheet" type="text/css" href="/static/css/home.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/common.css" />
	<meta name="description" content="Wikilabels is a human computation service for Wikipedia"/>
</head>
<body class="page--home">
	<div class="page">
		<div class="content-box">
			<main id="content" class="content__introduction" role="main"><p>
			{% if maintenance_notice is not none %}<div class="maintenance_notice">{{maintenance_notice|safe}}</div>{%endif %}
                <strong class="selflink">Wikilabels</strong> is a
                <a href="https://en.wikipedia.org/wiki/Human_computation"
                   title="Human computation"
                   class="mw-redirect">human computation</a>
                service for Wikipedia. In order perform difficult analyses and
                train intelligent wiki-tools (e.g. for
                <a href="https://www.mediawiki.org/wiki/Objective_Revision_Evaluation_Service#Edit_quality_models">detecting vandalism</a> and
                <a href="https://www.mediawiki.org/wiki/Objective_Revision_Evaluation_Service#Article_quality_models">
                  assessing the quality of articles
                </a>), we need
                <a href="https://en.wikipedia.org/wiki/Coding_(social_sciences)"
                   title="Coding (social sciences)">labeled data</a>
                and lots of it. Wiki-Labels is a tool that makes it easy to
                collaboratively label wiki artifacts (like revisions) quickly
                and easily.
		</p>
		Available paths:
		<ul>
			<li><a href="/ui/">/ui/</a>: User interface for labeling</li>
			<li><a href="/auth/">/auth/</a>: API path for OAuth integration</li>
			<li><a href="/campaigns/">/campaigns/</a>: API for campaigns</li>
			<li><a href="/users/">/users/</a>: API for users</li>
			<li><a href="/forms/">/forms/</a>: API for forms</li>
			<li><a href="/form_builder/">/form_builder/</a>: Form builder user interface</li>
			<li><a href="/versions/">/versions/</a>: versions informaion</li>
		</ul>
		<p>For further information, please see <a href="https://en.wikipedia.org/wiki/Wikipedia:Labels/About"
                   title="Wikipedia:Labels/About"> our documentation</a>
		</p>
		<br>
<span class='oo-ui-fieldLayout-field'><span aria-disabled='false' class='oo-ui-widget oo-ui-widget-enabled oo-ui-flaggedElement-primary oo-ui-flaggedElement-progressive oo-ui-inputWidget oo-ui-buttonElement oo-ui-buttonElement-framed oo-ui-labelElement oo-ui-buttonInputWidget' style="margin-bottom: 12.5px;"><a href="/ui/" class='oo-ui-inputWidget-input oo-ui-buttonElement-button'><span class='oo-ui-iconElement-icon oo-ui-image-invert'></span><span class='oo-ui-labelElement-label'>Start labeling</span><span class='oo-ui-indicatorElement-indicator oo-ui-image-invert'></span></button></span></span>
	</div></div></main>
	<footer id="wikilabelsFooter" class="footer">
		<div class="content-box">
			<ul class="footer__list">
				<li><a href="https://github.com/wikimedia/wikilabels">Contribute on GitHub</a></li>
				<li><a href="https://lists.wikimedia.org/mailman/listinfo/ai" title="Join Wikimedia AI mailing list">Join mailing list</a></li>
			</ul>
			<p><a href="https://foundation.wikimedia.org/wiki/Non-wiki_privacy_policy">Privacy policy</a></p>
			<p>{{footer|default('Written in <a href="https://python.org">Python 3</a>')|safe}}</p>
		</div>
	</footer>
</body>
</html>
