<html lang="en" dir="ltr" class="client-js ve-not-available">
<head>
	<title>Wikilabels user interface index</title>
	<link rel="stylesheet" href="/static/lib/wmui-style-guide.min.css">
	<link rel="stylesheet" type="text/css" href="/oojs-ui-static/oojs-ui-mediawiki.css" />
	<link rel="stylesheet" href="/static/css/wikilabels-site-specific.css">
	<link rel="stylesheet" type="text/css" href="/static/css/home.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/common.css" />
	<link rel="stylesheet" type="text/css" href="https://en.wikipedia.org/w/load.php?debug=false&amp;lang=en&amp;modules=mediawiki.legacy.commonPrint%2Cshared%7Cmediawiki.skinning.interface%7Cskins.vector.styles&amp;only=styles&amp;skin=vector" />
	<meta name="description" content="Wikilabels is a human computation service for Wikipedia"/>
	<style type="text/css">
		.notice {
			border: 1px solid #b32424;
			margin: 4px 2em;
			background: #fee7e6;
			padding: 0.25em 0.9em;
			margin: 1em;
		}
	</style>
	{{ script_tags|safe }}
	{% assets "js_all" %}
		<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
	{{ style_tags|safe }}
	{% assets "css_all" %}
		<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
	{% endassets %}
	<script type="text/javascript">
	$(document).ready( function() {
		var data = {{ campaign['stats'] | tojson }};
		var labels_per_task = {{ campaign['labels_per_task'] }}
		$( '.campaign' ).each( function() {
			var done = data.labels;
			var neededs = data.tasks * labels_per_task;
			var percent = Math.round( parseInt( done * 100) / neededs );
			var progressBar = new OO.ui.ProgressBarWidget( {
				progress: percent
			} );
			var fieldset = new OO.ui.FieldLayout( progressBar, {label: 'Progress (' + percent +'% done, ' + ( neededs - done ) + ' labels left):', align: 'top'});
			$( this ).css('padding-bottom', '2.25em')
			$( this ).append( fieldset.$element )
		})
	});
	</script>
</head>
<body class="page--home">
	<div class="page">
		<div class="content-box">
			<main id="content" class="content__introduction" role="main" style="font-size: 1rem;"><p style="margin-top: 12.5px;">
			{% if maintenance_notice is not none %}<div class="maintenance_notice">{{maintenance_notice|safe}}</div>{%endif %}
			<h2>Campaign "{{ campaign['name'] }}" in {{ wiki }}</h2>
			<span class="campaign"><ul><li>Labels done: {{ campaign["stats"]["labels"] }}</li><li>Labels needed: {{ campaign["stats"]["tasks"] * campaign["labels_per_task"] }}</li><li>Unique labelers: {{ campaign["stats"]["coders"] }}</li></ul></span>
			{% if user_stats %}
			<h3>Users contributing in this campaign</h3>
			<table class="wikitable" style="margin: 1em;"><thead><tr><th>User id</th><th>User name</th><th>Labels added</th></tr></thead><tbody>
			{% for row in user_stats %}
				<tr><td>{{ row["user"] }}</td><td>{{ row["user_name"] | safe }}</td><td>{{ row["count"] }}</td><tr>
			{% endfor %}
			</tbody></table>
			{% endif %}
			{% if timeline_stats %}
			<h3>Labels added per day</h3>
			<table class="wikitable" style="margin: 1em;"><thead><tr><th>Date</th><th>Labels added</th></tr></thead><tbody>
			{% for row in timeline_stats %}
				<tr><td>{{ row["day"] }}</td><td>{{ row["count"] }}</td><tr>
			{% endfor %}
			</tbody></table>
			{% endif %}
			<br>
	</div></div></main>
	<footer id="footer" class="footer">
		<div class="content-box">
			<ul class="footer__list">
				<li><a href="https://github.com/wiki-ai/wikilabels">Contribute on GitHub</a></li>
				<li><a href="https://lists.wikimedia.org/mailman/listinfo/ai" title="Join Wikimedia AI mailing list">Join mailing list</a></li>
			</ul>
			<p>For the privacy policy, see the Wikimedia policy here: <a href="https://wikimediafoundation.org/wiki/Privacy_policy">https://wikimediafoundation.org/wiki/Privacy_policy</a>.</p>
			<p>{{footer|default('Written in <a href="https://python.org">Python 3</a>')|safe}}</p>
		</div>
	</footer>
</body>
</html>
