<html lang="en" dir="ltr" class="client-js ve-not-available">
  <head>
    <title>Labels home gadget</title>
    <link rel="stylesheet" type="text/css" href="/oojs-ui-static/oojs-ui-mediawiki.css" />
    <link rel="stylesheet" type="text/css" href="/static/lib/mediaWiki/enwiki.vector.css" />
    <link rel="stylesheet" type="text/css" href="/static/lib/mediaWiki/enwiki.common.css" />
    <style>
      body {
        background: #fff;
        margin: 0px 2em;
      }
    </style>
  </head>
  <body class="mediawiki ltr sitedir-ltr ns-4 ns-subject page-Wikipedia_Labels
               skin-vector action-view webfonts-changed">
    <style type="text/css">
    html {
      background: #eaecf0;
    }
    body {
      max-width: 50em;
      margin: 0px auto;
      padding: 1em 2em;
      background: #fff;
    }
    </style>
    <div id="bodyContent" class="mw-body-content">
      <div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr">
        <div id="wikilabels-home">
          <div class="lead">
                <h2>Avalible wikis</h2>
                <ul>
               {% for wiki in wikis %}
                    <li><a href="/ui/{{ wiki }}">{{ wiki }}</a></li>
               {% endfor %}
                </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
