<html class="client-js ve-not-available">
  <head>
    <title>Labeling gadget</title>
    {{ script_tags|safe }}
    {% assets "js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
        <script type="text/javascript" src="/gadget/WikiLabels.messages.js"></script>
        <script async="" src="https://{{ mw_host|safe }}/w/load.php?debug=false&amp;lang={{ lang_code|safe }}&amp;modules=startup&amp;only=scripts&amp;skin=vector"></script>
    {{ style_tags|safe }}
    {% assets "css_all" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
    <link rel="stylesheet" type="text/css" href="https://{{ mw_host|safe }}/w/load.php?debug=false&lang={{ lang_code|safe }}&modules={{ extra_modules|safe }}mediawiki.legacy.commonPrint%2Cshared%7Cmediawiki.skinning.interface%7Cskins.vector.styles&only=styles&skin=vector" />
    <style>
      body {
        background: #fff;
        margin: 0px 2em;
      }
    </style>
  </head>
  <body class="mediawiki ltr sitedir-ltr ns-4 ns-subject page-Wikipedia_Labels
               skin-vector action-view webfonts-changed">
    <style type="text/css">
    html {
      background: #eaecf0;
    }
    body {
      margin: 0px auto;
      padding: 1em 2em;
      background: #fff;
    }
    @media ( min-width: 992px ) {
        .content-box {
            max-width: 960px;
        }
    }
    @media ( min-width: 1200px ) {
        body {
            width: 1140px;
        }
    }
    </style>
    {% if maintenance_notice is not none %}
      <div class="maintenance_notice">
        {{maintenance_notice|safe}}
      </div>
    {% else %}
    {%endif %}
    <div id="bodyContent" class="mw-body-content">
      <div id="mw-content-text" lang="{{ lang_code|safe }}" dir="{{ dir if dir != None else 'ltr' }}" class="mw-content-{{ dir if dir != None else 'ltr' }}">
        <div id="wikilabels-labeler">
          <div class="wikilabels-menu" style=" ">
            <div style="padding-top: 2em;">
              <span style="font-size: 150%;">Checking for tool authorization.  Please wait.  If the interface is not showing up make sure you enabled javascript.</span>
            </div>
          </div>
          <div class="wikilabels-workspace" style="clear:both;">
          </div>
        </div>
        <script>
          wikiLabels.config.update( {
            serverRoot: '{{ url_root|safe }}'
          } );
          wikiLabels.home = new wikiLabels.Home('{{ mw_host|safe }}');
        </script>
      </div>
    </div>
  </body>
</html>
