<html lang="en" dir="ltr" class="client-js ve-not-available">
<head>
	<title>Available wikis</title>
	<link rel="stylesheet" type="text/css" href="/oojs-ui-static/oojs-ui-mediawiki.css" />
	<link rel="stylesheet" type="text/css" href="https://en.wikipedia.org/w/load.php?debug=false&amp;lang=en&amp;modules=mediawiki.legacy.commonPrint%2Cshared%7Cmediawiki.skinning.interface%7Cskins.vector.styles&amp;only=styles&amp;skin=vector" />
	<link rel="stylesheet" href="/static/lib/wmui-style-guide.min.css">
	<link rel="stylesheet" href="/static/css/wikilabels-site-specific.css">
	<link rel="stylesheet" type="text/css" href="/static/css/home.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/common.css" />
	<meta name="description" content="Wikilabels is a human computation service for Wikipedia"/>
</head>
<body class="page--home">
	<div class="page">
		<div class="content-box">
			<main id="content" class="content__introduction" role="main"<p>
			{% if maintenance_notice is not none %}<div class="maintenance_notice">{{maintenance_notice|safe}}</div>{%endif %}
			<h2>Versions</h2>
			<table class="wikitable">
				<tr><th class="component">component</th><th class="version">version</th></tr>
				{% for component, version in versions.items() %}
					<tr><td class="component">{{ component }}</td><td class="version">{{ version }}</td></tr>
				{% endfor %}
			</table>
	</div></div></main>
	<footer id="wikilabelsFooter" class="footer">
		<div class="content-box">
			<ul class="footer__list">
				<li><a href="https://github.com/wikimedia/wikilabels">Contribute on GitHub</a></li>
				<li><a href="https://lists.wikimedia.org/mailman/listinfo/ai" title="Join Wikimedia AI mailing list">Join mailing list</a></li>
			</ul>
			<p><a href="https://foundation.wikimedia.org/wiki/Non-wiki_privacy_policy">Privacy policy</a></p>
			<p>{{footer|default('Written in <a href="https://python.org">Python 3</a>')|safe}}</p>
		</div>
	</footer>
  </body>
</html>
