
body {
  max-width: 51em;
  margin: 0px auto 2em auto;
  padding: 0px .5em;
}

.oo-ui-fieldLayout-align-right {
  text-align: right;
}

.CodeMirror {
  border: 1px solid silver;
  height: auto;
}
.CodeMirror-scroll {
  height: auto;
}

#controls {
  text-align: right;
}

.form_builder {
}
.form_builder h1 {
  size: 200%;
}
.form_builder .info {
  padding: 1ex 1em;
}

.form_builder .preview {
  background: #f0f0f0;
  padding: 1em;
}
