div.info {
  padding: 1ex 1em;
}

.oo-ui-fieldLayout-align-right {
  text-align: right;
}

.CodeMirror {
  border: 1px solid silver;
  min-height: 5em;
  height: auto;
}
.CodeMirror-scroll {
  height: auto;
}



.form_builder {
}
.form_builder .config_editor .controls {
  text-align: right;
}
.form_builder .form_preview .controls {
  text-align: right;
}
