.wikilabels-form {
	background: #f8f9fa;
	border: 2px solid #c8ccd1;
	padding: 1em 1em 1em;
	margin-top: 1em;
	border-bottom: 0;
}

.wikilabels-form .fieldset > .oo-ui-fieldsetLayout > div {
	text-align: center;
}
.wikilabels-form .fieldset > .oo-ui-fieldsetLayout > div > * {
	text-align: left;
}

/*
Fix for RTL sites.
This can be removed if this file is loaded using ResourceLoader and CSSJanus.
*/
.mw-content-rtl .wikilabels-form .fieldset > .oo-ui-fieldsetLayout > div > * {
	text-align: right;
}

.wikilabels-form .inline-field {
	display: inline-block;
	text-align: middle;
	margin: 0 1em;
	white-space: nowrap;
}
.wikilabels-form .inline-field .oo-ui-fieldLayout-help {
	display: inline-block;
	float: none;
	white-space: normal;
	margin-left: 0 !important;
}
.mw-content-rtl .wikilabels-form .inline-field .oo-ui-fieldLayout-help {
	margin-right: 0 !important;
}
.mw-content-rtl .wikilabels-form .inline-field .oo-ui-checkboxInputWidget [type='checkbox'] + span {
	right: 0;
}
.mw-content-rtl .wikilabels-form .oo-ui-buttonSelectWidget .oo-ui-buttonOptionWidget:first-child .oo-ui-buttonElement-button {
	border-bottom-right-radius: 2px;
	border-top-right-radius: 2px;
	margin-right: 0;
}
.mw-content-rtl .wikilabels-form .oo-ui-buttonSelectWidget .oo-ui-buttonOptionWidget:last-child .oo-ui-buttonElement-button {
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
}
.wikilabels-form .inline-field > .oo-ui-fieldLayout-body {
	display: inline-block;
	white-space: nowrap;
}
.wikilabels-form .inline-field > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-header {
	width: auto !important;
	max-width: auto;
}
.wikilabels-form .inline-field > .oo-ui-fieldLayout-body > .oo-ui-labelElement-label {
	display: inline-block;
	float: none;
	width: auto !important;
	vertical-align: middle;
	padding-top: 0 !important;
	white-space: normal;
}
.wikilabels-form .inline-field > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-field {
	display: inline-block;
	float: none;
	width: auto;
	vertical-align: middle;
	margin: 0 0.5em;
	white-space: normal;
}

.wikilabels-form > .controls{
	margin-top: 1em;
}

.wikilabels-form > .controls:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: ' ';
	clear: both;
	height: 0;
}

.wikilabels-form > .controls > .abandon{
	display: block;
	float: left;
}

.wikilabels-form > .controls > .save{
	display: block;
	float: right;
}

.wikilabels-form > #license{
	text-align: center;
	font-style: italic;
}
