.wikilabels-form {
  background: #f6f6f6;
  border: 2px solid #ddd;
  border-radius: 2px;
  padding: 1em;
}

.wikilabels-form .fieldset > .oo-ui-fieldsetLayout > div {
  text-align: center;
}
.wikilabels-form .fieldset > .oo-ui-fieldsetLayout > div > * {
  text-align: left;
}

.wikilabels-form .inline-field {
  display: inline-block;
  text-align: middle;
  margin: 0px 1em;
  white-space: nowrap;
}
.wikilabels-form .inline-field > .oo-ui-fieldLayout-help {
  display: inline-block;
  float: none;
  white-space: normal;
}
.wikilabels-form .inline-field > .oo-ui-fieldLayout-body {
  display: inline-block;
  white-space: nowrap;
}
.wikilabels-form .inline-field > .oo-ui-fieldLayout-body > .oo-ui-labelElement-label {
  display: inline-block;
  float: none;
  width: auto !important;
  vertical-align: middle;
  padding-top: 0em !important;
  white-space: normal;
}
.wikilabels-form .inline-field > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-field {
  display: inline-block;
  float: none;
  width: auto;
  vertical-align: middle;
  margin: 0em .5em;
  white-space: normal;
}

.wikilabels-form > .controls {
  text-align: right;
}
