.wikilables-view {
}
.wikilabels-view > .completed {
  margin-top: 1em;
  text-align: center;
}
.wikilabels-view > .completed > .message {
  font-size: 150%;
  margin-bottom: 1em;
}

.wikilabels-diff-to-previous {
  background: #fff;
  text-align: center;
  margin-top: 1em;
}
.wikilabels-diff-to-previous > .error {
  text-align: left;
}
/*
Fix for RTL sites.
This can be removed if this file is loaded using ResourceLoader and CSSJanus.
*/
.mw-content-rtl .wikilabels-diff-to-previous > .error {
  text-align: right;
}
.wikilabels-diff-to-previous > .title {
  font-size: 150%;
  margin-top: 1em;
}
.wikilabels-diff-to-previous > .description {
  margin-top: .5em;
}
.wikilabels-diff-to-previous > .comment {
  margin-top: .5em;
  font-style: italic;
}
.wikilabels-diff-to-previous > .comment:before,
.wikilabels-diff-to-previous > .comment:after {
  content: '"';
  color: #222;
}
.wikilabels-diff-to-previous > .diff {
  text-align: left;
  margin-top: 1em;
}
/*
Fix for RTL sites.
This can be removed if this file is loaded using ResourceLoader and CSSJanus.
*/
.mw-content-rtl .wikilabels-diff-to-previous > .diff {
  text-align: right;
}
.wikilabels-diff-to-previous > .no-difference {
  font-size: 200%;
  text-align: center;
  margin-top: 1em;
  font-weight: bold;
  font-style: italic;
  color: #72777d;

}
.display-page-html {
  background: #fff;
  padding: 1em;
}

.wikilabels-printable-page-as-of-revision {
}

.wikilabels-printable-page-as-of-revision iframe {
  border-width: 0px;
  width: 100%;
  height: 120%;
}
.wikilabels-printable-page-as-of-revision iframe #contentSub {
  display: none;
}
.wikilabels-printable-page-as-of-revision iframe .wikibase-statementgrouplistview{
  display: none;
}
