:root {
	--width-site: 700px;
	--width-site-desktop-wide: 700px;
	--site__logo-width-large: 17.9 em;
	--site__logo-height-large: 19.7 em;
	--site__logo-width-small: 15.4 em;
	--site__logo-height-small: 16.9 em;
	--project--icon-width: 6 em;
	--project--icon-height: 5.9 em;
}

body,
.site__title {
	font-family: -apple-system, BlinkMacSystemFont, 'Seogoe UI', 'Roboto', 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.notice {
	border: 1px solid #b32424;
	background: #fee7e6;
	padding: 0.25em 0.9em;
	margin: 1em;
}
