#wikilabels-ui {
	border: 1px solid #333;
	padding: 1em;
}

.wikilabels-progress {
	border: 1px solid #333;
	padding: 0.5em;
	padding-bottom: 0;
}

.wikilabels-progress > div {
	border: 1px solid #333;
	min-width: 0.5em;
	background: #FFF;
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.wikilabels-progress div div {
	height: 1em;
}

.wikilabels-progress div.wikilabels-damaging-1,
.wikilabels-progress div.wikilabels-good-faith-0 {
	background: #C00;
}

.wikilabels-progress div.wikilabels-damaging-0,
.wikilabels-progress div.wikilabels-good-faith-1 {
	background: #27AA65;
}

.wikilabels-selected {
	background: #CFC;
}

.wikilabels-progress .wikilabels-selected {
	background: #FF0;
}

.wikilabels-form {
  background: #f0f0f0;
  padding: 1em;
}
